//- Newest comments component
- var use = theme.comments && theme.comments.use

if use && use[0] === 'CF-Comment'
  include ./cf-comment.pug
else if use && use[0] === 'cf-comment'
  include ./cf-comment.pug
else if use && use[0] === 'Valine'
  include ./valine.pug
else if use && use[0] === 'Waline'
  include ./waline.pug
else if use && use[0] === 'Twikoo'
  include ./twikoo-comment.pug
else if use && use[0] === 'Artalk'
  include ./artalk.pug
else if use && use[0] === 'Remark42'
  include ./remark42.pug
else if use && use[0] === 'Disqus'
  include ./disqus-comment.pug
else if use && use[0] === 'Disqusjs'
  include ./disqus-comment.pug
else if use && use[0] === 'Gitalk'
  include ./github-issues.pug
else if use && use[0] === 'Utterances'
  include ./github-issues.pug
